

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important;
    
}

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

#btn_register{
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
    width: 86%;
    border-radius: 25px;
    height: 48px;
    border:#45cafc;
    color: white;
    
}

.btn-rounded{
    background-color: white;
    width: 19%;
    border-radius: 25px;
    height: auto;
    margin: 0px 10px;

}
